// Colors ========================/

$lightblue: rgb(149, 222, 255);
$blue: rgb(74, 117, 138);
$darkBlue: rgb(30, 80, 100);        //#1E5064
$orange: #E3AC21;
$red: #ff0000;
$grey: #505050;
$darkGrey: #202020;
$white: #F0F0F0;

// Roles

$mainColor: $darkBlue;
$secondaryColor: $blue;
$tertiaryColor: $white;
$forthColor: $orange;
$contrastColor: $grey;
$highlight: $lightblue;
$darkContrast: $darkGrey;

// Attribuitions